@import "tailwindcss";

@keyframes blink{
  50%{
    opacity: 0;
  }
}

@keyframes show{
  0%{
    opacity: 0;
  }
}

.cursor{
  animation: blink 1s infinite;
}

.appear {
  animation: show 1s ease-in;
  animation-iteration-count: 1;
}