@import "tailwindcss";

@keyframes blink{
  50%{
    opacity: 0;
  }
}

.cursor{
  animation: blink 1s infinite;
}

.education{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;
  width: 100%;
  height: auto;
  object-fit: contain;
}